:root{
    --logo-url: url("/logo.png")
}

.container{
    background: midnightblue;
    width: 400px;
    height: 500px;
}
.topLogo{
    background-image: var(--logo-url);
    width: 200px;
    height: 200px;
    background-image: ;
}